In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

filename = r'C:\Users\Caui\Desktop\Data Science\2 - Investigating a Data Base\Project\titanic_data.csv'
titanic_df = pd.read_csv(filename)

In [2]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic_group_by_class = titanic_df.groupby(['Pclass']).size()
titanic_group_by_age = titanic_df.groupby(['Age']).size()
titanic_group_by_survived = titanic_df.groupby(['Survived']).size()

titanic_group_by = titanic_df.groupby(['Pclass','Survived']).size()

In [ ]:
indexes = list(np.where(titanic_df['Age'].notnull()))

titanic_df_with_ages = titanic_df.iloc[indexes[0],:].reset_index()

In [ ]:
titanic_df_with_ages.head()

In [ ]:
titanic_df.loc[(titanic_df["Sex"]=="male") & (titanic_df["Pclass"]==3) & (titanic_df["Survived"]==1) &
              (titanic_df['Age']<=15)]['PassengerId'].count()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

#titanic_df.hist(column="Age",by="Pclass",bins=10)
#plt.scatter(titanic_df['Fare'],titanic_df['Survived'])

titanic_df.hist(column="Fare",by="Survived",bins=10)

In [ ]:
titanic_df.describe()

In [ ]:
subway_df.head()

In [ ]:
def correlation(x, y):
    '''
    Fill in this function to compute the correlation between the two
    input variables. Each input is either a NumPy array or a Pandas
    Series.
    
    correlation = average of (x in standard units) times (y in standard units)
    
    Remember to pass the argument "ddof=0" to the Pandas std() function!
    '''
    
    std_x = (x - x.mean()) / x.std(ddof=0)
    std_y = (y - y.mean()) / y.std(ddof=0)
    return (std_x * std_y).mean()

entries = subway_df['ENTRIESn_hourly']
cum_entries = subway_df['ENTRIESn']
rain = subway_df['meanprecipi']
temp = subway_df['meantempi']

print subway_df.head()
print correlation(entries, rain)
print correlation(entries, temp)
print correlation(rain, temp)

print correlation(entries, cum_entries)

In [ ]:
### Write code here to group the subway data by a variable of your choice, then
### either print out the mean ridership within each group or create a plot.

ridership_by_day = subway_df.groupby('day_week').mean()['ENTRIESn_hourly']

In [ ]:
%pylab inline
import seaborn as sns
ridership_by_day.plot()

In [ ]:
def hourly_for_group(entries_and_exits):
    return entries_and_exits - entries_and_exits.shift(1)

In [ ]:
ridership_df = pd.DataFrame({
    'UNIT': ['R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051'],
    'TIMEn': ['00:00:00', '02:00:00', '04:00:00', '06:00:00', '08:00:00', '10:00:00', '12:00:00', '14:00:00', '16:00:00'],
    'ENTRIESn': [3144312, 8936644, 3144335, 8936658, 3144353, 8936687, 3144424, 8936819, 3144594],
    'EXITSn': [1088151, 13755385,  1088159, 13755393,  1088177, 13755598, 1088231, 13756191,  1088275]
})

In [ ]:
ridership_df.groupby('UNIT')[['ENTRIESn', 'EXITSn']].apply(hourly_for_group)

In [ ]:
ridership_df.plot()

In [ ]:
import pandas as pd
filename = r'C:\Users\Caui\Desktop\nyc_subway_weather.csv'
subway_df = pd.read_csv(filename)

In [ ]:
data_by_location = subway_df.groupby(['latitude','longitude'],
                                    as_index=False).mean()
print data_by_location.head()['latitude']

In [ ]:
scaled_entries = (data_by_location['ENTRIESn_hourly'] / data_by_location['ENTRIESn_hourly'].std())

In [ ]:
%pylab inline
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.scatter(data_by_location['latitude'],data_by_location['longitude'],s=scaled_entries)